.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 163px;
  height: 100vh;
  z-index: 99;
  overflow: hidden;
  padding: 60px 38px 65px;
  background: #040404 0% 0% no-repeat padding-box;
  color: var(--color-f1f1f1);
  transition: all 0.6s linear;
}

.hovered {
  width: 400px;
  background: transparent linear-gradient(
    90deg,
    #040404 0%,
    #040404FA 21%,
    #04040400 100%
  ) 0% 0% no-repeat padding-box;
}

/* Shared item styles */
.navBarItem,
.userInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.navBarItem {
  border-radius: 12px;
}

.navBarItem:hover {
  background-color: var(--color-3b486d);
}

.navBarItem:hover .iconText {
  font: var(--font-style-normal) normal var(--font-weight-bold)
    var(--font-size-36)/var(--line-spacing-43)
    var(--font-family-tajawal);
}

/* User Info */
.userInfo {
  margin-bottom: 50px;
  width: 0;
  opacity: 0;
  transition: 0.6s ease-out;
}

/* User Image & Icon */
.userImage,
.icon {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.userImage {
  object-fit: cover;
}

/* Icon Container */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: none;
}

.isActive .icon {
  background-color: var(--color-3b486d);
}

/* Icon Text */
.iconText {
  display: none;
  width: 0;
  padding-right: 20px;
  white-space: nowrap;
  font: var(--font-style-normal) normal var(--font-weight-normal)
    var(--font-size-36)/var(--line-spacing-43)
    var(--font-family-tajawal);
}

/* User Name */
.userName {
  font: var(--font-style-normal) normal var(--font-weight-bold)
    var(--font-size-32)/var(--line-spacing-30)
    var(--font-family-tajawal);
}

/* Settings */
.settings {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 65px 0;
  width: 0;
  opacity: 0;
}

.settings a {
  color: var(--color-858688);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  font: var(--font-style-normal) normal var(--font-weight-bold)
    var(--font-size-24)/var(--line-spacing-42)
    var(--font-family-tajawal);
}

/* Hovered State */
.hovered .userInfo,
.hovered .settings {
  width: auto;
  opacity: 1;
  transition: all 1s ease;
}

.hovered .iconText {
  display: block;
  opacity: 1;
  visibility: visible;
}

.hovered .isActive .icon {
  background-color: transparent;
}
